beautifulsoup4==4.12.3 
pandas==2.2.2
requests==2.32.3
openai==1.43.0
supabase==2.13.0
python-dotenv==1.0.1
plotly==5.24.1
insightface==0.7.3
onnx==1.19.1
onnxruntime-gpu==1.23.2
ultralytics==8.3.230
supervision==0.26.1
lap==0.5.12
apify-client==2.5.0